.logo{
    
    background-image: url("../images/band.jpg");
    width: 100%;
    height: auto;
    padding-bottom:50px;
    background-size: 100% 100%;
    background-repeat: repeat;
    margin-bottom: 0;
}

.responsive {
    width: 25%;
    height: auto;
}

header{
    padding-top:100px;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}