.logo{
    background-image: url("../images/band.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position:relative;
}
.responsive {
    width: 30%;
    height: auto;
}

header{
    padding-top: 50px;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}